@model Arbitration.Models.NamesViewModel

<h4>Arbitrator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CompareArbitratorsC">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select First Arbitrator</label>
                <select asp-for="ArbitratorName" class="form-control" asp-items="ViewBag.Arbitrators"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Select Second Arbitrator</label>
                <select asp-for="SecondArbitratorName"class="form-control" asp-items="ViewBag.Arbitrators"></select>

            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ArbitratorOptions">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
