@model Arbitration.Models.AnticipatedAffirmativeDefense

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Anticipated Affirmative Defense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAffirmativeDefense">

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neutralization" class="control-label"></label>
                <input asp-for="Neutralization" class="form-control" />
                <span asp-validation-for="Neutralization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageAffirmativeDefenses">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
